# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# Test & Coverage
coverage
.nyc_output
test-results

# IDE & Editor
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*.yaml
.docker

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment files (except example)
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Misc
README.md
docs
k6
*.md
